<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinpractice">
<uses-permission android:name="android.permission.INTERNET"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinPractice">
        <activity android:name=".JavaActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".EditTextActivity"/>
        <activity android:name=".ImageViewActivity"/>
        <activity android:name=".ScrollViewActivity"/>
        <activity android:name=".ListViewActivity"/>
        <activity android:name=".RecyclerViewActivity"/>
        <activity android:name=".TabLayoutActivity"/>
        <activity android:name=".SwitchActivity"/>
        <activity android:name=".FloatingActionButtonAndSnackBarActivity"/>
        <activity android:name=".WebViewActivity"/>
        <activity android:name=".CalenderViewActivity"/>
        <activity android:name=".SearchViewActivity"/>


        <activity android:name=".SpinnerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>